.Page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./../images/background/Background404.png');
    width: 100vw; /* Ширина на весь екран */
    height: 100vh; /* Висота на весь екран */
    background-image: url('./../images/background/Background404.png');
    background-size: cover; /* Зображення покриває весь блок */
    background-position: center; /* Центрування зображення */
    background-repeat: no-repeat; /* Зображення не повторюється */
    h1 {
        font-weight: 900;
        font-size: 250px;
        color: #7A9CA5;
        font-family: $text-font;
        line-height: 1.0; 
        margin-bottom: 40px;
        // box-shadow: 4px 5px 6px 0px #92929280;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); 

    }
    
    p {
        text-align: center;
        margin: 16px 0 40px;
    max-width: 564px;

    }
    button {
        @include colorBtn;
        padding: 23px 64px;
    }
}