.password-protected {
    background-color: $white-block;
    padding: 162px 0;
    &-form {
        display: flex;
        flex-direction: column;
        background-color: $white;
        max-width: 770px;
        margin: 0 auto;
        align-items: center;
        padding: 85px 75px;

        span {
            @include spanTitle;
        }

        p {
            text-align: center;
            margin-bottom: 40px;
        }

        h2{
            margin: 4px auto 16px;
        }
        input {
            min-width: 500px;
            padding: 18px;
            margin-bottom: 20px;
            border: none;
            background-color: #F4F4F4;
        }
        button {
            padding: 24px 198px;
            font-size: 14px;
            font-weight: 800; 
            @include colorBtn; 
        }   
     }

}